@font-face {
  font-family: Averta;
  src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}

:root {
  --primary: #514949;
  --cards: #fffafa;
  --links: #e7332b;
  --hovlinks: #eb5850;
  --bg-light: #fff;
  --team-bg: #fff0f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Averta, sans-serif;
  color: var(--primary);
}

.hero-section {
  background-image: url(./img/hero-bg.svg);
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
}

.hero-section img {
  margin: 4rem 0 5rem 0;
}

.hero-section h2 {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 800;
  color: var(--primary);
}

.hero-section p {
  max-width: 54%;
  margin: 0 auto;
  line-height: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 7rem;
  opacity: 0.9;
}

a {
  color: var(--links);
  text-decoration: none;
}

.btn a {
  padding: 0.7rem 2rem;
  border: 1px solid var(--links);
  margin-left: 2rem;
  transition: all 700ms;
}

.btn1 {
  background-color: var(--links);
  color: var(--bg-light);
}

.btn2 {
  background-color: var(--bg-light);
  color: var(--links);
}

.btn1:hover {
  background-color: var(--bg-light);
  color: var(--links);
}
.btn2:hover {
  color: var(--bg-light);
  background-color: var(--links);
}

.middle {
  margin-bottom: 5rem;
}

.team {
  text-align: center;
  margin: 5rem auto;
  padding: 3rem 1.7rem;
  width: 50%;
  background-color: var(--team-bg);
  border-radius: 8px;
}

.team h3 {
  color: var(--links);
  font-size: 1rem;
  font-weight: lighter;
}
.team,
h3,
p {
  margin-bottom: 1.5rem;
}

.team p {
  line-height: 2.5rem;
  font-size: 1.2rem;
  color: var(--primary);
  word-spacing: 0.1rem;
}

.aims {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 90%;
  margin: 0 auto;
}

.card {
  margin-left: 3rem;
  text-align: left;
  border: 1px dotted var(--links);
  border-radius: 8px;
  line-height: 1.7rem;
  background-color: #fffafa;
  padding: 61px 47px 82px 36px;
}
.card p {
  margin-top: 3rem;
}

.links,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--team-bg);
  padding: 2rem;
  font-size: 1rem;
}

footer h2 {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  display: block;
  margin: 0 auto;
}

.links h2 {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.socials img {
  height: 1rem;
  margin-left: 0.3rem;
}
.divider {
  border: 1px;
  border-style: dotted;
  border-color: var(--hovlinks);
  border-radius: 50%;
  border-width: 25%;
  margin: 5rem;
}

@media (max-width: 768px) {
  body,
  .team h3 {
    font-size: 0.8rem;
  }

  .team p {
    font-size: 0.8rem;
  }
  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .btn1 {
    margin-bottom: 2rem;
  }

  .team {
    margin-top: 8rem;
  }

  .contact,
  .link {
    margin-top: 1rem;
  }

  .link,
  .socials,
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .divider {
    display: none;
  }

  .aims,
  .links,
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 2rem auto;
    font-size: 0.8rem;
  }

  .card {
    margin-bottom: 2rem;
    width: 100%;
    margin-right: 3rem;
    height: auto;
  }
}
